/* background-colors ****************/
// $bg: rgb(166, 146, 238);
$bg: rgb(52, 95, 151);
$alt-bg: #ce181e;

/* Font-colors ****************/
$font: "Raleway", sans-serif;
$text: #cfd0ef;
$alt-text: #00b289;
$main-text: #49c0b6;

/* Sizes-margin ****************/
$xl-mg: 4rem;
$lg-mg: 2.8rem;
$md-mg: 2rem;
$sm-mg: 1.125rem;
$tiny-mg: 0.5rem;

/* Sizes-padding ****************/
$lg-pd: 1.5em 2em;
$md-pd: 0.8em 1.6em;
$sm-pd: 0.4em 0.8em;

/* other ****************/
$radius: 15px;
